{%- assign social_accounts = 'Facebook, Instagram, Pinterest' | split: ', ' -%}
<ul class="site-footer__social u-ul-reset">
  {% for social in social_accounts %}
    {%- assign social_handle = social | handleize -%}
    {%- capture social_link -%}social_{{ social_handle }}_link
    {%- endcapture -%}
    {%- capture social_icon -%}icon-{{- social_handle -}}
    {%- endcapture -%}
      <li>
        <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
          {%- include social_icon -%}
          {% comment %} <span class="icon-fallback-text">{{- social -}}</span> {% endcomment %}
        </a>
      </li>
  {% endfor %}
</ul>